<div class="container">
    <div class="jumbotron">
          <center>
            <h1>Activity Overlord</h1>

              <h2>... Tracking App Activity Better Than The NSA</h2>

            <a href="/user/new" class="btn btn-lg btn-success">Sign Up Now!</a>
            <br>
            </center>
    </div>
</div>
